#root {
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.floorManipulator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: #4d536a;
}

.floorHead {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floorItem {
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
}
.floorItem_selected {
  background-color: #3b4353;
}
.floorItem:hover {
  background-color: #3b4353;
}

.modalRoute_flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal {
  position: fixed;
  width: 20%;
  height: 20%;
  display: flex;
  background-color: #878da5;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  z-index: 1001;
  padding: 1rem;
}

.modalRoute {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.modalRoute_route {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.modalRoute_input {
  width: 100%;
  height: 40px;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.qrCodeWrapper {
  width: 128px;
  height: 128px;
}

.modalRoute_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 180px;
  overflow-x: hidden;
}

.modalRoute_cards_room {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #3b4353;
  cursor: pointer;
  height: max-content;
}

.modalRoute_cards_room:hover {
  background-color: #55627a;
}

.modal_room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_room_btns {
  display: flex;
  gap: 0.5rem;
}

.route-modal {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 50px; /* Высота закрытого модального окна */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: height 0.3s ease-in-out; /* Анимация изменения высоты */
  overflow: hidden;
  transform: translateX(-50%);
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 1001;
  background-color: #4d536a;
}

.route-modal.open {
  height: 350px; /* Высота открытого модального окна */
  border-radius: 0.5rem;
}
