#root {
  text-align: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floorManipulator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: #fff;
  color: #80889d;
  box-shadow: 0 0 7px 2px#1370b9;
}

.floorHead {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floorItem {
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #80889d;
  transition: all 0.2s ease;
}
.floorItem_selected {
  background-color: #c7c9cf;
}
.floorItem:hover {
  background-color: #c7c9cf;
}

.modalRoute_flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal {
  position: fixed;
  width: 30%;
  height: 30%;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  z-index: 1001;
  padding: 1rem;
  box-shadow: 0 0 1000px 1000px rgb(56, 66, 79, 0.7);
}

@media screen and (max-width: 768px) {
  .modal {
    width: 60%;
  }
}

.modalBotom {
  position: fixed;
  width: 30%;
  height: 10%;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  z-index: 1001;
  padding: 1rem;
  color: #80889d;
  font-size: 1.5rem;
  box-shadow: 0 0 7px 2px#1370b9;
}

.closeIcon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10000;
  cursor: pointer;
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}

.modalRoute {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.modalRoute_route {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.modalRoute_input {
  width: 100%;
  height: 40px;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  background-color: #eaeaea;
  color: #80889d;
}

.qrCodeWrapper {
  width: 256px;
  height: 256px;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.modalRoute_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 220px;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}
.distance {
  color: #1370b9;
  height: 24px;
}

.modalRoute_cards_room {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #3b4353;
  cursor: pointer;
  height: max-content;
}

.modalRoute_cards_room:hover {
  background-color: #55627a;
}

.modal_room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_room_btns {
  display: flex;
  gap: 0.5rem;
}

.romm_btn {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #eaeaea;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  color: #80889d;
  transition: all 0.3s ease;
  cursor: pointer;
}

.room_btn:hover {
  border: 1px solid #eaeaea;
}

.route-modal {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 30%;
  min-width: 400px;
  height: 50px; /* Высота закрытого модального окна */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease-in-out; /* Анимация изменения высоты */
  overflow: hidden;
  transform: translateX(-50%);
  border-radius: 0.5rem 0.5rem 0 0;
  z-index: 1001;
  background-color: #fff;
  box-shadow: 0 0 13px 2px#1370b9;
}

.route-modal-bef {
  width: 100%;
  height: 15px;
  cursor: pointer;
}

.route-modal-bef::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 100px;
  height: 8px;
  transform: translateX(-50%);
  border-radius: 10px;
  background-color: #c7c9cf;
}

@media screen and (max-width: 768px) {
  .route-modal {
    width: 90%;
  }
}

.route-modal.open {
  height: 350px; /* Высота открытого модального окна */
  border-radius: 0.5rem;
}
.roomTag {
  background-color: #eaeaea;
  color: #80889d;
  border-radius: 16px;
  padding: 10px 15px 10px 15px;
  min-width: 70px;
  height: fit-content;
}

.roomTag:hover {
  /* color: #dfe3ea; */
  box-shadow: 0 0 2px 1px #dfe3ea;
}

.downloadBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  background-color: #eaeaea;
  border: none;
  color: #80889d;
  font-size: 1rem;
}
